Flask==3.0.3
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
authlib
speechmatics-python
httpx
google-generativeai
yt-dlp==2024.07.25
Flask-CORS
requests
gunicorn
# Whisperhez szükséges csomagok:
torch
transformers
accelerate